.navbar-inverse {
  background-color: #7a99ac;
  border-color: #7a99ac;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-text {
  color: #fff;
}

.table tbody>tr>td.vert-align{
  vertical-align: middle;
}

.bg-danger {
  padding: 15px;
}

.app-image {
  height: 200px;
  text-align: center;
}

.container .img-responsive-grid {
  margin: auto;
  display: block;
  width: auto;
  max-height: 100%;
}
